@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #373738;
    color: #f0f2f5;
}

header {
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-boxes {
    display: flex;
    gap: 10px;
}

.nav-item {
    background-color: #15181b;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.profile-pic {
    width: 40px;
    border-radius: 50%;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.post-box {
    background-color: #242526;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

textarea {
    height: 80px;
    width: 100%;
    background: #3a3b3c;
    padding: 10px;
    color: #8493a8;
    border-radius: 8px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.file-label {
    background-color: #57636e;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #27edfc;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.post {
    background: rgb(97, 31, 31);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20x;
    border-radius: 10px;
}

#closeModal {
    float: right;
    cursor: pointer;
}