@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

header {
    background-color: #749acc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}